nav 
    ul 
        block links
        li 
            a(href="/") Home
        li
            a(href="/profile") Profile
        li
            a(href="/allCustomers") Customers
        li  
            a(href="/books") Books
        li
            a(href="/addBook") Add Books
        li
            a(href="/allOrders") Sales
        li(style="float: right;")
                        a(href="/logout") Log Out