extends layout
block content 
    main(class="container")
        div(class="bg-light p-5 rounded")
            h1 Task Manager App
            div(class="row")
                div(class="col-sm")
                    p(class="lead") Example to illustrate crud functionality
                div(class="col-sm")
                    <form action="/categories">
                        <input type="submit" class="btn btn-outline-success" value="View Categories"/>


            


