extends layout
block content
    main(class="container")
        div(class="bg-light p-5 rounded")
            h1 Login:

            div(class="row")
                div(class="col-sm")
                    form(action='login' method='POST')
                        .form-group
                            label(class="control-label col-sm-2" for="email") E-mail
                            input(type='text' class="form-control" name='email' id='email' required='')
                        .form-group
                            label(class="control-label col-sm-2" for="password") Password
                            input(type='text' class="form-control" name='password' id='password' required='')
                        input(type='submit' class='btn btn-outline-success')