.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.login-panel, .register-panel
{
    padding: 20px 20px 50px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.login-panel
{
    float: left;
}
.register-panel
{
    float: right;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}